{% extends 'base.html-back.twig' %}
{% block title %}Service{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_service_index') }}" class="btn btn-primay">Retour à la liste</a>
    <a href="{{ path('app_admin_service_edit', {'id': service.id}) }}" class="btn btn-success" >Modifier</a>
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ service.type }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ service.descriptif }}</td>
            </tr>

            <th>Images</th>
            <td>
					{% if service.imageName is defined and service.imageName is not null %}
						<img src="{{asset ('images/service/' ~ service.imageName)}}" alt="" class="img-fluid">
					{% else %}
						N/A
					{% endif %}
				</td>
        </tbody>
    </table>

    

    {{ include('admin_service/_delete_form.html.twig') }}
{% endblock %}
