{% extends 'base.html.twig' %}

{% block title %}Haras de la Cense - Les Services{% endblock %}


{% block body %}
<div style="min-height: 100vh">
	
<h1 class="ptitre">Les Services</h1>

<table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Descriptif</th>
                <th>Image</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.type }}</td>
                <td>{{ service.descriptif|raw }}</td>
                <td>
						{% if service.imageName is defined and service.imageName is not null %}
                        <a href="{{ asset ('images/service/' ~ service.imageName)}}" data-lightbox="image-{{ loop.index0 }}" data-title="{{ service.type}}">

							<img src="{{ asset('images/service/'~service.imageName)}}" alt="" class="img-list">
                        </a>
						{% else %}
							N/A
						{% endif %}
					</td>
                <td class="text-end">
    <a href="{{ path('app_admin_service_show', {'id': service.id}) }}" class="btn btn-dark">Afficher</a>
    {# <a href="{{ path('app_admin_service_edit', {'id': service.id}) }}" class="btn btn-dark">Modifier</a>      #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">aucun service</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
