{% extends 'base.html.twig' %}

{% block title %}Haras de la Cense - Les Evenements{% endblock %}
    
{% block body %}
<div style="min-height: 100vh">

<h1 class="ptitre">Les Evènements</h1>

<table><tr><td>         
<table class="table table-striped">
    <tr><td colspan=2><h4>Evenements Externes</h4></td></tr>
    <tr><th>Description</th><th>Image</th></tr> 
    {% for evenement in evenementExternes %}
        <tr>
        <td>{% autoescape false %}{{ evenement.texte }}{% endautoescape %}</td>
        <td> 
        {% if evenement.imageName is defined and evenement.imageName is not null %}
        <a href="{{ asset('images/evenement/' ~ evenement.imageName) }}" data-lightbox="{{evenement.imageName}}">
		<img src="{{ asset('images/evenement/'~ evenement.imageName)}}" alt="" class="img-list">
        </a>
		{% else %}
			N/A		
		{% endif %}
        </td>
        </tr>  
    {% else %}
    <tr><td colspan=2>Aucun Evenement</td></tr> 
    {% endfor %}
</table>

<table class="table table-striped">
<tr><td colspan=2><h4>Evenements Internes</h4></td></tr>
<tr><td>Description</td><td>Image</td></tr> 
    {% for evenement in evenementInternes %}
        <tr>
        <td>{% autoescape false %}{{ evenement.texte }}{% endautoescape %}</td>
        <td> 
        {% if evenement.imageName is defined and evenement.imageName is not null %}
        <a href="{{ asset('images/evenement/' ~ evenement.imageName) }}" data-lightbox="{{evenement.imageName}}">
		    <img src="{{ asset('images/evenement/'~ evenement.imageName)}}" alt="" class="img-list">
        </a>
		{% else %}
			N/A		
		{% endif %}
        </td>
        </tr>  
    {% else %}
    <tr><td colspan=2>Aucun Evenement</td></tr> 
    {% endfor %}
</table>
</td></tr></table>
</div>

{% endblock %}


