{% extends 'base.html.twig' %}

{% block title %}Haras de la Cense - Gérer mes chevaux{% endblock %}

{% block body %}
    <h1 class="ptitre">Mes chevaux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Lieu</th>
                <th>Alimentation</th>
                <th>Veto</th>
                <th>ImageName</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cheval in chevals %}
            <tr>
                <td>{{ cheval.nom }}</td>
                <td>{{ cheval.lieu }}</td>
                <td>{{ cheval.alimentation }}</td>
                <td>{{ cheval.veto }}</td>
                <td>
                {# <img src={{ asset('images/cheval/' ~ cheval.imageName) }}> #}
                {% if cheval.imageName is defined and cheval.imageName is not null %}
                    <a href="{{ asset ('images/cheval/' ~ cheval.imageName) }}" data-lightbox="{{cheval.imageName}}">
					<img src="{{ asset('images/cheval/'~ cheval.imageName)}}" alt="" class="img-list">
                    </a>
				{% else %}
							N/A
				{% endif %}
                </td>
                <td>
                    <a href="{{ path('app_front_cheval_edit', {'id': cheval.id} ) }}"  class="btn btn-dark">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun cheval</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<a href="{{ path('app_front_cheval_new') }}" class="btn btn-dark">Nouveau cheval</a>
<hr>
<a href="{{ path('app_user') }}" class="btn btn-dark">Retour à l'espace Membre</a>
<hr>

    
{% endblock %}
