{% extends 'base.html-back.twig' %}

{% block title %}Cavalier{% endblock %}

{% block body %}
<a href="{{ path('app_admin_cavalier_index') }}" class="btn btn-primary">Retour à la liste</a>
<a href="{{ path('app_admin_cavalier_edit', {'id': cavalier.id}) }}" class="btn btn-success">Modifier</a>

    <h1>Cavalier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cavalier.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ cavalier.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ cavalier.prenom }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ cavalier.mail }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ cavalier.imageName }}</td>
            </tr>
{% for cheval in cavalier.chevaux %}
            <tr>
                <th>Cheval</th>
                <td><img src="{{ asset('images/cheval/' ~ cheval.imageName) }}" alt="" class="img-fluid"></td>
            </tr>
{% else %}
            <tr>
                <th>Cheval</th>
                <td>Aucun Cheval</td>
            </tr>
{% endfor %}             <tr>
                <th>UpdatedAt</th>
                <td>{{ cavalier.updatedAt ? cavalier.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ cavalier.niveau }}</td>
            </tr>
        </tbody>
    </table>

    
    

    {{ include('admin_cavalier/_delete_form.html.twig') }}
{% endblock %}
