{% extends 'base.html.twig' %}

{% block title %}Haras de la Cense - Les Cavaliers{% endblock %}

{% block body %}
    <h1 class="ptitre">Mes Cavaliers</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>ImageName</th>
                <th>Niveau</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cavalier in cavaliers %}
            <tr>
                <td>{{ cavalier.id }}</td>
                <td>{{ cavalier.nom }}</td>
                <td>{{ cavalier.prenom }}</td>
                <td>{{ cavalier.mail }}</td>
                <td> 
                {% if cavalier.imageName is defined and cavalier.imageName is not null %}
        	    <a href="{{ asset ('images/cavalier/' ~ cavalier.imageName) }}" data-lightbox="{{cavalier.imageName}}">
				    <img src="{{ asset('images/cavalier/'~ cavalier.imageName)}}" alt="" class="img-list">
        	    </a>
		        {% else %}
		        N/A
		        {% endif %}
                </td>
                <td>{{ cavalier.niveau }}</td>
                <td>
                    <a href="{{ path('app_front_cavalier_edit', {'id': cavalier.id} ) }}" class="btn btn-dark">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun Cavalier</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 <a href="{{ path('app_front_cavalier_new') }}" class="btn btn-dark">Nouveau</a>
<a href="{{ path('app_user') }}" class="btn btn-dark">Retour au Profil</a>
<hr>
   
{% endblock %}
