{% extends 'base.html.twig' %}

{% block title %}Haras de la Cense - Les Ballades{% endblock %}

{% block body %}
<div style="min-height: 50vh">
<h1 class="ptitre">Les Ballades</h1>
<table class="table table-striped">
		
		{% for ballade in ballades %}
			<tr>
				<td>
					<a href="{{ path('app_ballade_show', {'id': ballade.id}) }}" class="btn btn-dark">{{ ballade.nom }} </a>
				</td>
			</tr>
			<td>
						{% if service.imageName is defined and service.imageName is not null %}
                        <a href="{{ asset ('images/service/' ~ service.imageName)}}" data-lightbox="image-{{ loop.index0 }}" data-title="{{ service.type}}">

							<img src="{{ asset('images/service/'~service.imageName)}}" alt="" class="img-list">
                        </a>
						{% else %}
							{# N/A #}
						{% endif %}
					</td>
		{% else %}
			{# aucune ballade #}
			<tr>
				<td>Aucune ballade</td>
			</tr>
		{% endfor %}
		{# Fin de la boucle #}
	</table>
	</div>

{% endblock %}
