{% extends 'base.html.twig' %}

{% block title %}Haras de la Cense - Les Cavaliers{% endblock %}

{% block body %}

<div style="min-height: 50vh">
		<h1 class="ptitre">Les Cavaliers</h1>
		<div class="d-flex flex-wrap justify-content-center">

			{% for cavalier in cavaliers %}
				<div class="col-12 col-md-3 col-lg-2 px-3  d-flex">
					<div class="card">
						<img src="{{asset('images/cavalier/' ~ cavalier.imageName)}}"  class="card-img-top pt-2" alt="...">
						<div class="card-body d-flex flex-wrap">
							<h5 class="card-title text-center w-100">{{cavalier.prenom}}
								{{cavalier.nom}}</h5>
							<a href="{{ path('app_cavalier_show', {'id': cavalier.id}) }}" class="btn btn-dark align-self-end mx-auto">Voir fiche</a>
						</div>
					</div>
				</div>


			{% else %}
			

				<p>Aucun cavalier</p>

			{% endfor %}
			{# Fin de la boucle #}
		</div>
	</div>

{# <div style="min-height: 100vh">

<H1 class="py-3 ps-3">Cavalier</H1>
<table class="table table-striped">
		
		{% for cavalier in cavaliers %}
		
			<tr>
				<td>
					<a href="{{ path('app_cavalier_show', {'id': cavalier.id}) }}" class="btn btn-dark">{{ cavalier.prenom }} {{ cavalier.nom }}
				</td>
			</tr>
		{% else %}
		<tr>
			<td>Aucun cavalier </td>
		</tr>
		
		{% endfor %}
	</table>

</div>
	#}

{% endblock %}
