{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>LastReplyDate</th>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>IsVerified</th>
                <th>UpdatedAt</th>
                <th>Username</th>
                <th>AvatarUrl</th>
                <th>NbPost</th>
                <th>Banned</th>
                <th>EmailAddress</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.lastReplyDate ? user.lastReplyDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.avatarUrl }}</td>
                <td>{{ user.nbPost }}</td>
                <td>{{ user.banned ? 'Yes' : 'No' }}</td>
                <td>{{ user.emailAddress }}</td>
                <td>
                    <a href="{{ path('app_front_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_front_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_front_user_new') }}">Create new</a>
{% endblock %}
