{% extends 'base.html.twig' %}

{% block title %}Haras de la Cense - Les Chevaux{% endblock %}

{% block body %}

<div style="min-height: 50vh">
		<h1 class="ptitre">Les Chevaux</h1>
		<div class="d-flex flex-wrap justify-content-center">

			{% for cheval in chevaux %}
				<div class="col-12 col-md-3 col-lg-2 px-3  d-flex">
					<div class="card">
						<img src="{{asset('images/cheval/' ~ cheval.imageName)}}"  class="card-img-top pt-2" alt="...">
						<div class="card-body d-flex flex-wrap">
							<h5 class="card-title text-center w-100">
								{{cheval.nom}}</h5>
							<a href="{{ path('app_cheval_show', {'id': cheval.id}) }}" class="btn btn-dark align-self-end mx-auto">Voir fiche</a>
						</div>
					</div>
				</div>


			{% else %}
				{# aucun proprietaire #}

				<p>Aucun cheval</p>

			{% endfor %}
			{# Fin de la boucle #}
		</div>
	</div>

{# <div style="min-height: 100vh">
<h1 class="py-3 ps-3">Cheval</h1>
	<table class="table table-striped">
		
		{% for cheval in chevaux %}
			<tr>
				<td>
					<a href="{{ path('app_cheval_show', {'id': cheval.id}) }}" class="btn btn-dark">{{ cheval.nom }}</a>
				</td>
			</tr>
		{% else %}
			{# aucun cheval #}
			{# <tr>
				<td>Aucun cheval</td>
			</tr>
		{% endfor %}
		{# Fin de la boucle #}
	{# </table>
</div> #} 
{% endblock %}
