{% extends 'base.html.twig' %}

{% block title %}Haras de la Cense - Information sur un Cheval{% endblock %}

{% block body %}

	<h1 class="ptitre">Cheval</h1>
	<table class="table table-striped">
		<tr> 
<td>
		{% if cheval is defined and cheval is not null %}
		<a href="{{ asset ('images/cheval/' ~ cheval.imageName) }}" data-lightbox="{{cheval.imageName}}"> 
		<img src="{{ asset('images/cheval/' ~ cheval.imageName) }}" alt="" class="img-list" > </a></td>
		{% endif %}  
		</td>
		<td>                       
		<table class="table table-striped">
			<tbody>
			<tr>
					<th>Proprietaire</th>
					<td>{{ cheval.user }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ cheval.nom }}</td>
				</tr>
				<tr>
					<th>Lieu</th>
					<td>{{ cheval.lieu }}</td>
				</tr>
				<tr>
					<th>Alimentation</th>
					<td>{{ cheval.alimentation }}</td>
				</tr>
				<tr>
					<th>Veto</th>
					<td>{{ cheval.veto }}</td>
				</tr>
			</tbody>
		</table>
	</table>
	{% endblock %}