{{ form_start(form) }}
    {{ form_widget(form) }}


{{ form_start(form) }}
    <h2>Les infos</h2>
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.app_front_cheval_delete) }}
    {{ form_row(form.imageFile) }} 

    
    
    </ul>
    <button class="btn btn-dark">{{ button_label|default('Sauvergarde') }}</button>
{{ form_end(form) }}
