{% extends 'base.html.twig' %}

{% block title %}Propriétaires{% endblock %}

{% block body %}

    <h1>Propriétaires</h1>

    <table class="table table-striped"> 
    <tr>  
    <td>
        {% if user.avatarUrl is defined and user.avatarUrl is not null %}
        <a href="{{ asset ('images/user/' ~ user.avatarUrl) }}" data-lightbox="{{user.avatarUrl}}">
		<img src="{{ asset('images/user/'~ user.avatarUrl)}}" alt="" class="img-list">
        </a>
		{% else %}
		N/A
		{% endif %}
    </td>
    <td>
		<table class="table table-striped">
        <tbody>
            
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
            
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>    
                <th>Telephone</th>
                <td>{{ user.telephone }}</td>
            </tr>
        </tbody>
    </table>
    </td>
    </tr>
</table>

    
{% endblock %}
