{% extends 'base.html.twig' %}

{% block title %}Haras de la Cense - Mon Espace Membre{% endblock %}

{% block body %}
<h1 class="ptitre">Mon Espace Membre</h1>

<div class="container-fluid">

{# INFORMATIONS #}
<table class="table table-striped">
<tr>
<td class="td-gauche" colspan="2"><h4>Mes informations</h4></td>
<td class="text-end"><a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-dark ">Modifier mes informations</a></td>
</tr>
<tr><td class="td-gauche">Nom</td><td class="text-end">{{ user.nom }}</td>
<td  rowspan="4">
        {% if user.avatarUrl is defined and user.avatarUrl is not null %}
        <a href="{{ asset ('images/user/' ~ user.avatarUrl) }}" data-lightbox="{{user.avatarUrl}}">
		<img src="{{ asset('images/user/'~ user.avatarUrl)}}" alt="" class="img-list">
        </a>
		{% else %}
		N/A
		{% endif %}

</td>
</tr>
<tr><td class="td-gauche">Prenom</td><td class="text-end">{{ user.prenom }}</td></tr>
<tr><td class="td-gauche">No Telephone</td><td class="text-end">{{ user.telephone}}</td></tr> 
<tr><td class="td-gauche">Alias</td><td class="text-end">{{ user.userName}}</td></tr> 
</table>
        {% if user.isVerified  %}
        
		{% else %}
		<a href="{{ path('app_verify_email') }}" class="btn btn-dark">Vérifier mon email</a>
		{% endif %}
        
<div class="py-3 text-center"><hr class="w-50 mx-auto"></div>

{# CHEVAUX #}
<table class="table table-striped">
<tr>
<td class="td-gauche" colspan="2"><h4>Mes chevaux</h4></td>
<td class="text-end"><a href="{{ path('app_front_cheval_index') }}"  class="btn btn-dark">Gérer mes chevaux</a></td></tr>
{% for cheval in user.cheval %} 
<tr><td class="td-gauche">{{ cheval.nom }}</td>
	<td class="text-end">
        {% if cheval.imageName is defined and cheval.imageName is not null %}
        	<a href="{{ asset ('images/cheval/' ~ cheval.imageName) }}" data-lightbox="{{cheval.imageName}}">
				<img src="{{ asset('images/cheval/'~ cheval.imageName)}}" alt="" class="img-list">
        	</a>
		{% else %}
		N/A
		{% endif %}
	</td>
</tr>
{% else %}
<tr><tdclass="text-end" colspan="2">Je n'ai aucun cheval</tdclass=></tr>
{% endfor %} 
</table>

<div class="py-3 text-center"><hr class="w-50 mx-auto"></div>

{# CAVALIER #}
<table class="table table-striped">
<tr class=>
<td class="td-gauche" colspan="2"><h4>Mes cavaliers</h4></td>
<td class="text-end"><a href="{{ path('app_front_cavalier_index') }}"  class="btn btn-dark">Gérer mes cavaliers</a></td></tr>
{% for cavalier in user.cavalier %}
<tr><td class="td-gauche">{{ cavalier.nom }} {{ cavalier.prenom }}</td>
	<td class="text-end">
        {% if cavalier.imageName is defined and cavalier.imageName is not null %}
        	<a href="{{ asset ('images/cavalier/' ~ cavalier.imageName) }}" data-lightbox="{{cavalier.imageName}}">
				<img src="{{ asset('images/cavalier/'~ cavalier.imageName)}}" alt="" class="img-list">
        	</a>
		{% else %}
		N/A
		{% endif %}
	</td>
</tr>
{% else %}
<tr><td class="text-end" colspan="2">Je n'ai aucun cavalier</td></tr>
{% endfor %} 
</table>

</div>
{% endblock %}


